@media (max-width: 1366px) {
  html {
    font-size: 56.25%;
  }

  .issues-main-container {
    grid-template-columns: 10fr 4fr;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .issues-main-container {
    grid-template-columns: 10fr 4fr;
  }

  .issues-detail-nav-list {
    flex-direction: column;
    align-items: unset;
    gap: 0.4rem;
  }

  .issues-detail-nav-list .nav-item {
    padding: 0.4rem 1.2rem 0rem;
    border-bottom-width: 4px;
  }

  .issue-content .issue-item {
    flex-wrap: wrap;
  }
}
